* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
  font-weight: 600;
}
a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* متغير من متغيرات css */
:root {
  --main-color: #1e1e1e;
  --second-color: #8f8f8f;
}
body {
  background: var(--main-color);
  color: var(--second-color);
  font-family: roboto, sans-serif;
}
